<section class="header-content"> 
  <section class="logo">
    <img class="logo-ea" src="../assets/logo.png" alt="Logo Edvan Advocacia">
  </section>
  <section class="logo-txt">
    <h1>Edvan Advocacia</h1>
  </section>
  <section class="contact-imgbg">
      <div class="contact animated bounceInLeft">
        <a href="#"><img class="phone hvr-grow " src="../assets/phone.png" width="35px" height="35px"></a>
        <a class="" href="#"><img class=" hvr-grow share" src="../assets/share.png" width="35px" height="35px"></a>
        <a href="#"><img class="email hvr-grow " src="../assets/email.png" width="35px" height="35px"></a>
      </div>
    </section>
  <section class="container">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <span class="text">Scroll down</span>
  </section>
</section>