<section class="menu-section">
  <div class="MenuIcon">
    <div class="MenuLine"></div>
  </div>
  <div class="MainMenu">
    <ul>
      <li>HOME<div class="line"></div></li>
      <li>ACOMPANHE SEU PROCESSO<div class="line"></div></li>
      <li>ESCRITÓRIO<div class="line"></div></li>
    </ul>
  <div class="close">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/VisualEditor_-_Icon_-_Close_-_white.svg/2000px-VisualEditor_-_Icon_-_Close_-_white.svg.png" height="50px" width="50px"/>
  </div>
  </div>
</section>