<section class="content">
    <section class="sobre">
      <section class="title">
        <h1 class="title-sobre post">Sobre</h1>
      </section>
    <section class="text-sobre">
      <p>Breve resumo a respeito do Edvan, carreira, estudos, missão e etc...</p>
    </section>
   
    <section class="atuacao">
      <section class="title">
        <h1>Atuação</h1>
    </section>
    <section class="atuacao-itens">
      <section class="judicial-item">
        <div class="circle">
          <img class="civil atuacao-icon hvr-grow " src="../assets/civil.png" alt="Icone de direito civil">
          <h2>Direito Civil</h2>
        </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
          <h2>Direito das Sucessões</h2>
          <img class="civil atuacao-icon hvr-grow " src="../assets/sucessoes.png" alt="Icone de direito das sucessões">
        </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
            <h2>Direito da Família</h2>
            <img class="familia atuacao-icon hvr-grow " src="../assets/civil.png" alt="Icone de direito da familia">
        </div>
      </section>   
      <section class="judicial-item">
          <div class="circle">
            <h2>Direito Penal</h2>
            <img class="penal atuacao-icon hvr-grow " src="../assets/penal.png" alt="Icone de direito Penal">
          </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
           <h2>Direito Trabalhista</h2>
           <img class="trabalhista atuacao-icon hvr-grow " src="../assets/trabalhador.png" alt="Icone de direito trabalhista">
        </div>
      </section>  
      <section class="judicial-item">
        <div class="circle">
            <h2>Direito Contencioso</h2>
            <img class="contencioso atuacao-icon hvr-grow " src="../assets/contencioso.png" alt="Icone de direito contecioso">
        </div>
      </section>   
      <section class="judicial-item">
        <div class="circle">
          <h2>Consultivo</h2>
          <img class="consultivo atuacao-icon hvr-grow " src="../assets/consultivo.png" alt="Icone de direito consultivo">
        </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
          <h2>Acessoria em Licitações</h2>
          <img class="licitacoes atuacao-icon hvr-grow" src="../assets/licitacoes.png" alt="Icone de acessoria em licitações">
        </div>
      </section>                
    </section>
    </section>
    <section class="acompanhe-processo">
      <div class="triangle-overlay">
        <h3 class="processo">Acompanhe já o andamento<br> do seu processo!</h3>
        <h3 class="acompanhe-aqui">Acompanhe aqui!</h3>
      </div>
    </section>
    <section class="contato">
      <section class="title">
        <h1>Contato</h1>
      </section>
      <section class="contato-form">

      </section>
      <section class="map">

      </section>
    </section>
</section>