.content{
    width: 100%;
}
.sobre {
    width: 100%;
    padding-top: 3rem;
    font-size: 1.5rem;
}
.title-sobre{
    color: black;
}
section.title {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

h1{
    border-bottom: 3px solid #B6944C;
    margin-bottom: 1.7rem;
    text-transform: uppercase;
    font-size: 1.5rem
}

.text-sobre{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
    height: 20vh;
}
.tribunal, .tribuna {
    width: 100%;
    height: 100%;
    background: black;
}

.atuacao{
    background: black;
    width: 100%;
    height: 78vh;
    }

    h1{
        color: white;
    }
.atuacao-itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
        font-size: 1rem;
    }
}
section.judicial-item {
    width: 21%;
    height: 25%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
.circle{
    border-radius:100%;
    border:5px solid #B6944C;
    width:130px;
    height:130px;
    display: flex;
    text-align: center;
    justify-content: center;
      h2{
        color: white;
        padding-top: 10rem;
        
    }
}
.civil, .sucessoes, .familia, .penal, .trabalhista, .contencioso, .consultivo, .licitacoes{
    width: 80px;
    height: 80px;
    position: absolute;
    padding-top: 1.3rem;
    opacity: 0.8;
}
.atuacao-icon:hover{
    opacity: 2;
}
.licitacoes{
    padding-left: 1rem;
}

.acompanhe-processo{
    text-align: left;
    position: relative;
    background-image: url(/assets/bg2.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 60vh;
}
.triangle-overlay {
    text-align: left;
    position: relative;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 60vh;
    background: url('/assets/gplay.png');
  }
  .processo{
    padding: 9rem;
  }
  .acompanhe-aqui {
    position: absolute;
    z-index: 999;
    margin-top: -6rem;
    margin-left: 14rem;
    border: solid;
    padding: 0.5rem;
}
/** Form de contato **/
.contato {
    width: 100%;
    background: black;
}
.contact-section {
    text-align: center;
    background: black;
}
section.formulario {
        width: 50%;
        padding-left: 25vw;
}
  
  
  .form-group input {
    display: block;
    width: 100%;
    height: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: black !important;
    border: none;
    border-bottom: 5px solid #fff;
    border-radius: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  
  
  .form-control.focus-gold:focus {
    border-color: #B6944C;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .form-group textarea {
    border: 5px solid #fff;
    border-radius: 0;
    background: black !important;
    margin-top: 40px;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
    color: #FFF;
    
      font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  
  .btn.btn-mod {
    color: #fff;
    border: 5px solid rgba(255,255,255, .75);
    border-radius: 0;
    background: black;
    padding: 12px 45px;
    font-size: 13px;
      transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    text-align: center;
    vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  
  .btn.btn-mod:hover {
    color: #B6944C;
      transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    border: solid #B6944C;
  }
  
  
  
  
  
  
  .contact-item {
    position: relative;
    color: #B6944C;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    text-align: left;
  }
  
  .ci-icon {
    width: 23px;
    height: 23px;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 23px;
    
  }
  
  .ci-icon:before {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .ci-icon i, .ci-icon span {
    position: relative;
  }
  
  .ci-title {
    margin-bottom: 1px;
    color: #B6944C;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-left: 40px;
  }
  
  .ci-text {
    font-size: 15px;
    font-weight: 300;
    margin-left: 40px;
  }
  
  
  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000;
  }
  
    /* flip the pane when hovered */
    .flip-container:hover .flipper,
  .flip-container.hover .flipper {
      transform: rotateY(180deg);
    }
  
  .flip-container,
  .front,
  .back {
    width: 100%;
    max-height: 400px;
  }
  
  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  /* hide back of pane during swap */
  .front, 
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    width: 100%;
  }
  
  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
    width: 100%;
  }

  @media screen and (max-width: 1260px) {
    .atuacao {
      height: 100vh;
    }
  }
  @media screen and (max-width: 1024px) {
    .atuacao {
      height: 80vh;
      }
  }
  @media screen and (max-width: 768px) {
    .atuacao {
    height: 80vh;
    }
    .circle{
      width: 90px;
      height: 90px;
    }
    .civil, .sucessoes, .familia, .penal, .trabalhista, .contencioso, .consultivo, .licitacoes{
      width: 50px;
      height: 50px;
    }
    .circle>h2{
      padding-top: 7rem;
    }
  } 
  
  @media screen and (max-width: 540px) { 
    .circle{
      width: 80px;
      height: 80px;
    }
    .civil, .sucessoes, .familia, .penal, .trabalhista, .contencioso, .consultivo, .licitacoes{
      width: 40px;
      height: 40px;
    }
    .circle>h2{
      padding-top: 6rem;
    }
    @media screen and (max-width: 414px) {
      .atuacao{
        height: 85vh;
      }
      .processo{
        padding: 3rem;
      }
      .acompanhe-aqui{
        margin-left: 8rem;
        margin-top: 1rem;
      }
      .licitacoes{
        padding-left: 0.3rem;
        
      }
      .circle{
        width: 60px;
        height: 60px;
      }
      .civil, .sucessoes, .familia, .penal, .trabalhista, .contencioso, .consultivo, .licitacoes{
        width: 25px;
        height: 25px;
        margin-top: -0.3rem;
      }
      .circle>h2{
        padding-top: 4.5rem;
        font-size: 0.8rem;
      }
    }
    
    @media screen and (max-width: 320px) {
      .atuacao{
        height: 85vh;
      }
      .processo{
        padding: 3rem;
      }
      .acompanhe-aqui{
        margin-left: 8rem;
        margin-top: 1rem;
      }
      .circle{
        width: 50px;
        height: 50px;
      }
      .civil, .sucessoes, .familia, .penal, .trabalhista, .contencioso, .consultivo, .licitacoes{
        width: 25px;
        height: 25px;
        margin-top: -0.5rem;
      }
      .circle>h2{
        font-size: 0.7rem;
      }
      .licitacoes{
        padding-left: 0.5rem;
        
      }

  }

}