<section class="content">
  <!-- Sobre -->
    <section class="sobre">
      <section class="title">
        <h1 class="title-sobre post">Sobre</h1>
      </section>
    <section class="text-sobre">
      <p>Breve resumo a respeito do Edvan, carreira, estudos, missão e etc...</p>
    </section>
   <!-- Atuação -->
    <section class="atuacao">
      <section class="title">
        <h1>Atuação</h1>
    </section>
    <section class="atuacao-itens">
      <section class="judicial-item">
        <div class="circle">
          <img class="civil atuacao-icon hvr-grow " src="../assets/civil.png" alt="Icone de direito civil">
          <h2>Direito Civil</h2>
        </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
          <h2>Direito das Sucessões</h2>
          <img class="civil atuacao-icon hvr-grow " src="../assets/sucessoes.png" alt="Icone de direito das sucessões">
        </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
            <h2>Direito da Família</h2>
            <img class="familia atuacao-icon hvr-grow " src="../assets/civil.png" alt="Icone de direito da familia">
        </div>
      </section>   
      <section class="judicial-item">
          <div class="circle">
            <h2>Direito Penal</h2>
            <img class="penal atuacao-icon hvr-grow " src="../assets/penal.png" alt="Icone de direito Penal">
          </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
           <h2>Direito Trabalhista</h2>
           <img class="trabalhista atuacao-icon hvr-grow " src="../assets/trabalhador.png" alt="Icone de direito trabalhista">
        </div>
      </section>  
      <section class="judicial-item">
        <div class="circle">
            <h2>Direito Contencioso</h2>
            <img class="contencioso atuacao-icon hvr-grow " src="../assets/contencioso.png" alt="Icone de direito contecioso">
        </div>
      </section>   
      <section class="judicial-item">
        <div class="circle">
          <h2>Consultivo</h2>
          <img class="consultivo atuacao-icon hvr-grow " src="../assets/consultivo.png" alt="Icone de direito consultivo">
        </div>
      </section>
      <section class="judicial-item">
        <div class="circle">
          <h2>Acessoria em Licitações</h2>
          <img class="licitacoes atuacao-icon hvr-grow" src="../assets/licitacoes.png" alt="Icone de acessoria em licitações">
        </div>
      </section>                
    </section>
    </section>
    <!-- Acompanhe seu processo -->
    <section class="acompanhe-processo">
      <div class="triangle-overlay">
        <h3 class="processo">Acompanhe já o andamento<br> do seu processo!</h3>
        <h3 class="acompanhe-aqui">Acompanhe aqui!</h3>
      </div>
    </section>
    <!-- Contato -->
    <section class="contato">
      <section class="title">
        <h1>Contato</h1>
      </section>
      <section class="formulario">
        <section id="contact" class="contact-section">
          <div class='container pt-50 pb-40'>
            <div class="col-sm-12">
              <div class="contact-form" id="contact_form">
                <form id="form" action="" method="post">
                  <div class="row pt-40">
                    <div class="col-md-4 col-sm-4 col-xs-12 pb-20">
                      <div class="form-group">
                        <input type="text" name="nome" id="name" required="" class="form-control form-style focus-gold" placeholder="Nome">
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pb-20">
                      <div class="form-group">
                        <input type="email" name="email" id="email" required="" class="form-control form-style focus-gold" placeholder="E-mail">
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pb-20">
                      <div class="form-group">
                        <input type="text" name="subject" id="subject" required="" class="form-control form-style focus-gold" placeholder="Assunto">
                      </div>
                    </div>
                  </div>
              
                  <div class="form-group">
                    <textarea class="form-control focus-gold" rows="10" name="message" id="message" placeholder="Mensagem"></textarea>
                  </div><!-- /.form-group -->
            
                  <div class="alert notification padding-0"></div><!-- Contact form notification message will be display here -->
            
                  <div class="align-center pt-20 pb-10">
                    <button type="submit" id="submit" class="btn btn-mod">
                    Enviar</button>
                  </div>
                
                </form>
              </div>
            </div>
            </div>
        </section>
      </section>
    </section>
</section>