<section class="navegação">
    <nav class="navbar-fixed-top animated bounceIn">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Atuação</a></li>
                <ul class="submenu">    
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                </ul>
            <li><a href="#">Acompanhe seu processo</a></li>
            <li><a href="#">Escritório</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</section>

<ea-header></ea-header>
<ea-main></ea-main>
<ea-footer></ea-footer>
<ea-mobile-menu></ea-mobile-menu>